@page
@model AccessDeniedModel
@{
	ViewData["Title"] = "Access denied";
}

<header>
	<br/>
</header>
<div class="card text-white bg-danger mb-3" style="max-width: 40rem;">
	<div class="card-body">
		<h4 class="card-title">访问已被拒绝</h4>
		<p class="card-text">您没有权限访问本资源</p>
	</div>
</div>