@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* @model HotelBookingSystem.Models.Movie *@
@model HotelBookingSystem.ViewModels.RandomMovieViewModel
@{
	ViewBag.Title = "Random";
	Layout = "_Layout";
}

@*
	如果这部电影借出数大于0则视为热门电影,选择性渲染HTML元素
*@
@{
	var className = Model.Customers.Count > 0 ? "popular" : null;
}
@*
	===============================================================================
*@
@*
	===============================================================================
	在页面上打印借过这部电影名称
*@
<h2 class="@className">@Model.Movie.Name</h2>
@*
	===============================================================================
*@
@*
	===============================================================================
	在页面上打印借过这部电影的客户,若没有则打印从未借出
*@
@if (Model.Customers.Count == 0)
{
	<text>这部Movie从未被人借出过</text>
}
else
{
	<ul>
		@foreach (var customer in Model.Customers)
		{
			<li>@customer.Name</li>
		}
	</ul>
}
@*
	===============================================================================
*@