/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
    /* background: url("/lib/hotelbackground.jpg") no-repeat; */
    /* background-size: cover; */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

/* Customer page back ground */
.customer-background {
    background: url("/lib/goodbackground.jpg") fixed;
    /* background: url("/lib/hotelbackground.jpg") no-repeat; */
    background-size: cover;
    opacity: 0.9;
}

/* 主页面Home的卡片设置 */
.special-cards-background {
    opacity: 0.9;
}

.border-noborder-slight-background {
    border-color: rgba(220, 220, 220, 0) !important;
    /* border-color: #2a9fd6 !important; */
    background: rgba(220, 220, 220, 0.1);
}

/* 表格的背景设置 */
.table-special-background {
    background: rgba(0, 0, 0, 0.9)
}